<header>
  <div class="logo">
    <i class="fas fa-beer" aria-hidden="true"></i>
    <h1 class="main-heading bold">Homebrew Helper</h1>
  </div>
  <nav>
    <ul class="main-nav-list">
      <li>
        <a routerLink="/my-brews" routerLinkActive="active">My Brews</a>
      </li>
      <li>
        <a routerLink="/explore" routerLinkActive="active">Explore</a>
      </li>
      <li>
        <a routerLink="/tools" routerLinkActive="active">Tools</a>
      </li>
    </ul>
    <div class="settings-bar">
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog" aria-hidden="true"></i>
        <p class="sr-only">Settings</p>
      </a>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>