<header>
  <div class="logo">
    <i class="fas fa-beer" aria-hidden="true"></i>
    <h1 class="main-heading bold">Homebrew Helper</h1>
  </div>
  <nav>
    <ul class="main-nav-list">
      <li>
        <a href="#">My Brews</a>
      </li>
      <li>
        <a href="#">Explore</a>
      </li>
      <li>
        <a href="#">Tools</a>
      </li>
    </ul>
    <div class="settings-bar">
      <a href="#">
        <i class="fas fa-cog" aria-hidden="true"></i>
        <p class="sr-only">Settings</p>
      </a>
    </div>
  </nav>
</header>

<main>
  <app-my-brews></app-my-brews>
</main>