<div class="brew-details">
  <div class="brew-status">Completed</div>
  <div class="image-name-wrapper clearfix">
    <div class="brew-image">
      <img src="//via.placeholder.com/150" alt="Cider">
    </div>
    <h2 class="brew-name">Some Cider</h2>
  </div>
  <div class="brew-description">
    <h3>Description:</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex asperiores earum repudiandae exercitationem
      amet voluptas consectetur quisquam vitae, nobis consequatur aperiam maxime veniam rem doloribus molestiae odio
      nam? Quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore velit, voluptatem nesciunt quam quo amet
      eveniet minima fugit odio quia vitae, esse unde maiores ipsum quidem mollitia similique! Omnis, labore?</p>
  </div>
  <div class="brew-stats">
    <h3 class="brew-stats-heading">Brew Stats:</h3>
    <div class="og">OG: 1.050</div>
    <div class="fg">FG: 1.010</div>
    <div class="ibu">IBU: N/A</div>
  </div>
  <div class="tasting-notes">
    <h3>Tasting Notes:</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam rerum, debitis repudiandae reiciendis ullam nisi
      nulla, odio voluptas quibusdam aliquam beatae magni animi consectetur atque expedita, eveniet id quis tenetur!</p>
  </div>
</div>