@import '~normalize.css';
@import './variables.scss';

// Global styles
html, body {
  height: 100%;
}

// box-sizing fix
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;

  &.bold {
    font-weight: 700;
  }

  &.semibold {
    font-weight: 400;
  }
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

// Screen-reader-only (invisible)
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  height: 100%;
  display: flex;
  padding-top: 140px;

  .sidebar {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: $sidebarWidth;

    .sidebar-inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: $sidebarBgColor;
      overflow: hidden;
    }
  }

  .main-section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: $mainSectionWidth;

    .main-section-inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 899px) {
  main {
    padding-top: 176px;
  }
}

@media screen and (max-width: 558px) {
  main {
    padding-top: 188px;
  }
}